<div class="container">
  <div id="privacy-policy" class="text-left">
        <h1 class="text-center">PRIVACY POLICY</h1>
        <h2>Startup Designs is strongly committed to protecting your privacy while interacting with our content, products
          and services.</h2>
        <p>The purpose of this Privacy Policy is to tell you what kind of information we may gather about you when you visit our
        site, how we may use that information, whether we disclose it to anyone, and the choices you have regarding our use of,
        and your ability to correct this information. Our policy allows you to choose what kind and how much information you
        provide to us and to control how we use whatever information you give us. Our goal is to provide you with a satisfying
        experience while allowing you to control your privacy and to give you a means to voice any questions or concerns you
        may have.</p>

        <p>This policy applies only to startupdesigns.ca and not to other companies' or organisations' websites to which
        startupdesigns.ca is linked.</p>

        <h3>Collection of information</h3>
        <p>Information is collected from you primarily to make it easier and more rewarding for you to use our services. Depending
        on the service you are accessing, you could be asked to provide information such as your name, email address or
        information about what you like and do not like. It is entirely your choice whether to respond to these questions or
        not.</p>

        <p>startupdesigns.ca collects two types of information. The first type is anonymous information. For instance, we may
        collect information to tell us that five thousand people visit this Privacy Policy today, but we do not know their
        names, where they live or their date of birth - they are 'anonymous' to us. Many of the individuals who access our
        services are anonymous to us.</p>

        <p>The second type of information that startupdesigns.ca collects is personal information. startupdesigns.ca will collect
        personal information that lets us know the specifics of who you are such as your name, email address, or postal
        address, when you provide it to us. With this information, startupdesigns.ca can provide a variety of personalised and
        enhanced services that are not available to anonymous users. We hope that you will find it beneficial to provide
        individually identifiable information about yourself to us because it will make our services more valuable to you.</p>

        <p>Sometimes, we may specifically ask for personal information about you when you sign up to use a service or submit a
        request. Certain information may be required, such as your name, company, internet address or screen name, billing
        address, type of computer or credit card number in order to provide that service or product to you. This information
        may also be used to inform you of additional products and services which may interest you. You can choose not to
        receive such information when you are undertaking product or service registration on our website. We may also ask about
        your interests, but it is your choice whether to respond. How much of your personal information that you choose to
        disclose to startupdesigns.ca is completely up to you. The only way we know something about you personally is if you
        provide it to us, for example when you leave feedback on our website.</p>
        
        <h3>Use of anonymous information</h3>

        <p>startupdesigns.ca automatically gathers anonymous information to monitor the use of startupdesigns.ca like the numbers and
        frequency of visitors to startupdesigns.ca and its areas, very much like television ratings that tell the networks how
        many people tuned in to a program. We only use such data in the aggregate. This collective data helps us determine how
        much our audiences use parts of the site, so we can improvestartupdesigns.ca to assure that it is as appealing as we can
        make it for as many users as possible. startupdesigns.ca may publish or provide this aggregate data to other people.</p>

       <h3>Use of personal information</h3>
       <p>startupdesigns.ca will only use the personal information you have chosen to provide us for the purpose for which you
      provided it. startupdesigns.ca will not use it for any other purpose without your consent.</p>

      <h3>Cookies</h3>

      <p>The startupdesigns.ca site currently does not store personal information in cookies or leave cookies on your system.</p>

      <h3>Disclosure</h3>

      <p>There will be occasions where it will be necessary for Startup Designs to disclose your personal information to
      third parties. Startup Designs may be required by law to disclose the information, or Startup Designs
      may be required to disclose your personal information to third parties to provide the service you have requested, for
      example, if you purchase products or services from Startup Designs, Startup Designs will need to
      disclose your personal information to third parties in order to bill and deliver your products or services. However,
      the disclosure will only be made where it is necessary to fulfil the purpose for which you disclosed your personal
      information. Otherwise than stated above, we do not disclose personal information that you may give us, such as your
      name, address, email address or telephone number, to any organisation or person outside Startup Designs unless
      you have authorised us to do so. For example, when you contribute to an online forum you may want to publish your name
      and email address.</p>

      <h3>No sale of personal information</h3>

      <p>Under no circumstances will startupdesigns.ca sell or receive payment for licensing or disclosing your personal
      information.</p>

      <h3>Interacting with startupdesigns.ca</h3>
      <p>There are many interactive features on startupdesigns.ca that you can contribute to. These include: Feedback forms,
      Project requests, Online Voting, Project management and Email.</p>
      
      <p>When interacting with startupdesigns.ca, we suggest that you use your discretion and exercise caution when providing your
      personal information.</p>
      
      <p>Ultimately, you are solely responsible for maintaining the secrecy of your passwords and/or any personal information.
      Be responsible whenever you are online.</p>

      <h3>Access and correction: personal data</h3>

      <p>If startupdesigns.ca holds your personal information Startup Designs will where possible provide you with access
      to the information. Startup Designs will take reasonable steps to correct the information so that it is
      accurate, complete and up to date.</p>
      <h3>Security</h3>
      <p>Startup Designs operates secure data networks that are designed to protect your privacy and security.</p>

      <h3>Complaints about privacy</h3>
      <p>If you have any complaints relating to online privacy issues on our websites, please notify Startup Designs via
      our contact form. While Startup Designs accepts no liability for any material or links posted to the service,
      we will investigate all complaints.</p>

      <h3>Changes to startupdesigns.ca privacy policy</h3>
      <p>If we decide to change the startupdesigns.ca Privacy Policy, we will post those changes here.</p>
  </div>
</div>