
<app-our-work-carousel></app-our-work-carousel>

<div class="fullwidth-row  d-flex align-items-center">
    <section class="container">
        <h2 class="text-center">We are a local web design & development company based in Markham</h2>
        <p class="pb-5">

        </p>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <p class="">
                    Startup Designs is a full-service digital shop, specialising in developing single page applications web apps. We
                     utilize the most modern technologies to help your business build a strong online presence.
                </p>

                <p class="">
                    We produce exceptional designs that are made-to-measure. We work through a creative process to
                    design and develop a suitable identity and User eXperience which greatly factors in your audience.
                </p>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <p>
                    Our experienced web developers will integrate a CMS platform such as Drupal or WordPress and custom
                    fit your design so that it's easy to use and scalable for the future.
                </p>
                
                <p>
                    We've been around for more than 18 years and there\'s not much that we haven\'t done so call us
                    today to discuss your next project.
                </p>


            </div>
        </div>
    </section>
</div>
<!-- Our Features -->
<app-our-features></app-our-features>

