@import "src/scss/helpers/mixins";
@import "src/scss/helpers/variables";


.fullwidth-row:nth-child(2) {
    padding: 1em 0;
    background: $secondary-color;
    color: #fff;

    h2 {
        color: #fff;
    }

    @include breakpoint(xs) {
        height: 90vh;
    }
}