<div class="container">
    <h1 class="text-center">CONTACT</h1>
    <div id="contact-us" class="text-left">
        <div class="row">
            <div class="col-12 col-sm-4 ">
                <h2>Get in Touch</h2>
            
                <p>To request a quote or a meeting to discuss a project, please complete this form.</p>
            
                <p>Alternatively, please call:
                    {{companyProfile.phone}}
                </p>
            
                <h3>Project brief</h3>
                <p>If you would like to provide us with a more comprehensive project brief. <a href="project-brief"></a>
                    click here</p>
            
                <h3>Web design brief</h3>
                <p>We have a few questions regarding the look and feel of your website to help us understand your brand and
                    positioning <a href="web-design-brief"></a> click here</p>
            <!--
                <h3>Address</h3>
                <p>
                 {{companyProfile.address}}<br> {{companyProfile.city}} {{companyProfile.territory}}<br>{{companyProfile.postal}}
                </p>
                -->
            </div>
                
            <div class="col-12 col-sm-8 ">
                <app-contact-form></app-contact-form>
            </div>
        </div>
    </div>
</div>
