<div class="container py-5">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-3 col-12">
      <div class="img-container d-flex align-items-enter justify-content-center">
        <img src="#" alt="">
      </div>
      <h4 class="text-center">Web design</h4>
      <p class="b-5">We design professional business websites for many industries and we service clients from startups to
        large businesses. If you need to move beyond a standard template site you should talk to us! </p>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-3 col-12">

      <div class="img-container d-flex align-items-center justify-content-center">
        <img src="#" alt="">
      </div>

      <h4 class="text-center">Web development</h4>
      <p class="b-5">If you need custom functionality, e-commerce, create a membership or marketplace website, Startup
        Designs offers tailored website development solutions custom made for your business.
      </p>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-3 col-12">
      <div class="img-container d-flex align-items-center justify-content-center">
        <img src="#" alt="">
      </div>


      <h4 class="text-center">Wordpress & Drupal development</h4>
      <p class="b-5">We develop websites in the highly flexible Wordpress CMS where the possibilities are endless. So if you
        need a subscription based site, special functionality or integration talk to us about the options.</p>
    </div>


  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-3 col-12">
      <div class="img-container d-flex align-items-center justify-content-center">
        <img src="#" alt="">
      </div>
      <h4 class="text-center">Our design and development services</h4>
      <p class="b-5">At Startup Designs we adopt websites that need help. We are specialists in website repairs and
        further enhancements for Wordpress and PHP based websites. </p>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-3 col-12">

      <div class="img-container d-flex align-items-center justify-content-center">
        <img src="#" alt="">
      </div>

      <h4 class="text-center">Web development</h4>
      <p class="b-5">Expand your marketing and reach out to your audience with our email marketing solution. We offer a
        self-managed or fully managed solutions that integrate seamlessly with your website </p>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-3 col-12">
      <div class="img-container d-flex align-items-center justify-content-center">
        <img src="#" alt="">
      </div>


      <h4 class="text-center">Graphic Design</h4>
      <p class="b-5">Whether you need a logo or need to reinvent your corporate identity, Our skilled graphic designers
        have the expertise to help develop a professional image for your business. </p>
    </div>

  </div>
</div>