.fullwidth-row:nth-child(1) {
    background: $secondary-color;
    color: #fff;
}

.fullwidth-row:nth-child(2) { 
   
}

.featured-services-container p {
    color: #000;
}

.featured-services-container h2, .featured-services-container h3 {
    color: $secondary-color;
}

@media (min-width: 576px) {
    .fullwidth-row:nth-child(1) {
      height: 100%;
    }
    .company-benefits-content .col-12 {
        min-width:576px;
    }
}




@media (min-width: 768px) { 
    .fullwidth-row:nth-child(1) {
        height: 90vh;

    }
    .company-benefits-content .col-lg-4 {
        min-width:240px;
    }
}

@media (min-width: 992px) {
    .fullwidth-row:nth-child(1) {
        height: 90vh;

    }
 .company-benefits-content .col-lg-4 {
     min-width:320px;
 }
}


@media (min-width: 1200px) {

}
