<header id="main-header">
          <app-primary-menu></app-primary-menu>
</header>

<div class="jumbotron jumbotron-fluid"  *ngIf="this.router.url === '/'">
      <div style="position: absolute; top: 50%; left: 50%; color: #fff; transform: translate(-50%, -50%)">
      <h1 class="main-heading">Multi-page is a thing of the past, Get a bigger return on your investment with
          Single Page Applications.</h1>
      </div>
</div>

<main class="mb-5">
<!--<app-breadcrumb></app-breadcrumb>-->
<router-outlet>
</router-outlet>
</main>

<footer>
<section class="top-footer container py-5">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-12">
      <h2>
        {{companyProfile.name}}
      </h2>
      <div>
        <!-- 
        <p>
         {{companyProfile.address}}<br> {{companyProfile.city}} {{companyProfile.territory}}<br>{{companyProfile.postal}}
        </p>
        -->
        <p>
          Phone: {{companyProfile.phone}}
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <h3>Our Services</h3>
      <ul style="columns: 2">
           <li *ngFor="let item of servicesMenu" > <a  routerLink="{{item.prefix}}/{{item.route}}" routerLinkActive="active">{{item.name}}</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-12">
      <h3>Our Work</h3>
      <ul>
        <li><a routerLink="/work/web-development">Check out our work</a></li>
      </ul>
    </div>
  </div>
  <div class="text-center">
        <a routerLink="/privacy-policy">Privacy Policy</a>
        <a routerLink="/terms-conditions">Terms & Condtions</a>
  </div>
</section>
<div class="container-fluid py-2"  style="background-color: #333">
  <div class="container text-center">
    <small>
            &copy; Startup Designs 2018
    </small>
  </div>
</div>

</footer>

<!--The content below is only a placeholder and can be replaced.-->
