<header id="main-header">
          <app-primary-menu></app-primary-menu>
</header>

<div class="jumbotron jumbotron-fluid"  *ngIf="this.router.url === '/'">
      <div style="position: absolute; top: 50%; left: 50%; color: #fff; transform: translate(-50%, -50%)">
      <h1 class="main-heading">Multi-page is a thing of the past, Get a bigger return on your investment with
          Single Page Applications.</h1>
      </div>
</div>

<main class="mb-5">
<!--<app-breadcrumb></app-breadcrumb>-->
<!-- When router is actived the following function with the event being passed as the parameter -->
<router-outlet (activate)="scrollToTop($event)">
</router-outlet>
</main>

<app-footer></app-footer>


<!--The content below is only a placeholder and can be replaced.-->
