<header id="main-header">
          <app-primary-menu></app-primary-menu>
</header>
<!--<app-fixed-free-quote-form></app-fixed-free-quote-form>-->
<main class="mb-5">
<router-outlet>
</router-outlet>
</main>

<footer>
<section class="top-footer container py-5">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-12">
      <h2>
        {{companyProfile.name}}
      </h2>
      <div>
        <p>
         {{companyProfile.address}}<br> {{companyProfile.city}} {{companyProfile.territory}}<br>{{companyProfile.postal}}
        </p>
        <p>
          {{companyProfile.phone}}
        </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
      <h3>Our Services</h3>
      <ul>
           <li *ngFor="let item of servicesMenu" > <a  routerLink="{{item.prefix}}/{{item.route}}" routerLinkActive="active">{{item.name}}</a></li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-12">
      <h3>Our Work</h3>
      <ul>
        <li><a href="/work">Check out our work</a></li>
      </ul>
    </div>
  </div>
</section>

</footer>

<!--The content below is only a placeholder and can be replaced.-->
