.navbar {
    z-index: 1000;
    top: 0;
    width: 100%;
    opacity: .92;
    background: #000!important;    

    .navbar-collapse {
      background: #000;
    }

    .navbar-toggler {
      border-color: rgb(238, 58, 57);
    }
    

    #logo {
      width: 150px;
    }
  
    ul {
      list-style: none;    
      white-space: nowrap;
    }
  
    li {
      display: inline-block;
    }

    a {
          color: #fff!important;

    }
    .dropdown-item  {
          color: #000!important;

    }
    

}
