.navbar {
    z-index: 1000;
    top: 0;
    width: 100%;
    opacity: .92;
    background: #000!important;    

    .navbar-collapse {
      background: #000;
    }

    .navbar-toggler, .navbar-toggler:focus,  {
      border: 1px solid rgb(238, 58, 57)!important;
      border-color: 1px solid rgb(238, 58, 57)!important;
    }
    
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(238, 58, 57, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

    }
    

    

    #logo {
      width: 150px;
    }
  
    ul {
      list-style: none;    
      white-space: nowrap;
    }
  
    li {
      display: inline-block;
    }

    a {
          color: #fff!important;

    }
    .dropdown-item  {
          color: #000!important;

    }
    

}
