<h2>We are the some of our partners</h2>
<p>Are you an ad agency, marketing firm, PR company, or other professional services organisation looking for a reliable
  partner to help you fill the ever increasing always-evolving technical gap in the web space? Patnering with us might
  be perfect for you.</p>
<p>We work closely with many leading creative agencies and companies in Australia. We produce high quality, best
  practise web design &amp; web development services. As a result we've gained a reputation as a digital production
  powerhouse that consistently delivers quality and forward-thinking solutions for our clients and partner agencies.</p>
<p>Startup Designs is a team of dynamic web designers and website developers specialising in Drupal, WordPress and PHP
  based projects for over 16 years. Our business strategy is focused on producing high quality work efficiently with a
  locally based team and providing a very high level of technical knowledge, project management &amp; delivery.</p>
<p>We've had the pleasure of working on large brand campaigns and have delivered a broad range of projects including:</p>
<ul>
  <li>Small campaign microsites that require quick turnaround times</li>
  <li>Converting creative into live websites</li>
  <li>Providing creative and brand development</li>
  <li>CRM multi-channel platform integrations</li>
  <li>ecommerce online transacting</li>
  <li>Competition landing and entry capturing pages</li>
  <li>Online multi-step survey systems</li>
  <li>Competition poles</li>
  <li>Email marketing creation and delivery</li>
  <li>Your clients' next campaign!</li>
</ul>
<p>Our service, knowledge and support has developed over the years, giving us the time to mature our company and
  processes into a dependable workhorse.</p>
<p>We realise that our partners need to focus on their core strengths such as the creative, strategic marketing and
  client service aspects of their projects and we're here to step in and provide the help that they need.</p>
<h2>Using Startup Designs as a service provider</h2>
<h3>White label</h3>
<p>White labelling to Startup Designs allows your company to offer all of Startup Designs's services without the added
  responsibility of delivering them yourself. We work in the background directly with your team and remain anonymous to
  your clients. We are transparent with our cost estimations which allows you decide your own pricing structure and
  deal directly with your clients.</p>
<h3>Referrals</h3>
<p>Depending on your capacity you might not have the time or want the hassles that come with managing a web development
  project. Referrals allow us to compliment your services and work directly with your client.</p>
<p>You don't need to have any web design &amp; development experience for referring clients to us and we offer a
  commission for every successful project that you referr to us.</p>
<p>If you would like to talk to us about your next project please call
  <a href="tel:0280070218">(02) 8007 0218</a>, we are ready to answer your questions and discuss a commonsense approach
  to your clients' initiatives.
</p>