@import '../helpers/variables.scss';

.active, .active a {
     color: $secondary-color!important;
}

.dropdown-item.active, .dropdown-item:active {
    color: $secondary-color!important;
    background: initial;
}

.content-header {
    background: $secondary-color;
    text-align: center;
    color: #fff;

    h1 {
            font-size: 1.2em;

    }
}

.btn-primary {
    background-color: $btn-primary!important;
    border: $btn-primary!important;
}

.btn-primary:hover {
    background-color: $btn-primary-hover!important;
    border: $btn-primary-hover!important;
    opacity: .8;
}