<section class="container">
    <h2>Who is Startup Designs?</h2>
    <div class="row py-4">
        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <h3>We are experienced</h3>
            <p> We are a small studio that packs a real punch. We
                produce great work and have a wide variety of clients that we work with. Our team is the heart of our
                organization and we are all passionate about our creativity, industry and what we do.</p>

            <p>You'll have direct access to experienced designers and web developers. Every design produced is created
                from scratch based on a client's briefing.</p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <h3>We produce excellent results</h3>
            <p>We take pride in everything we do and relentlessly pursue excellence in the quality of our work. We
                never back away from a challenge as we know this is the key to our personal and business growth.</p>

            <p>We implement strong systems and processes which flow naturally and produce consistently efficient and
                excellent outcomes for our clients and people.</p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <h3>We value our relationships</h3>
            <p>It's important to us to engage personally with our clients and stakeholders. We understand that our
                business relationships are more like partnerships.</p>

            <p>We want our business partners to be like-minded and satisfied with our offering, whether it be aiding
                self-sufficiency or providing them with a fully managed service.</p>
        </div>
    </div>
</section>

<div class="container-fluid my-4">
    <div class="container text-center py-5">
                <h3>What makes Startup Designs special? <b>It’s our people.</b></h3>
                <p>We hire people who are smart, passionate and curious, and then give them the independence they need to flourish.</p>
    </div>
</div>

<div class="container">
    <h2>Our culture</h2>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <p>Startup Designs prides itself on a set of core values that define how we behave - As technicians, as
                designers, as professionals, as colleagues, as people. We live these values everyday.</p>

            <p>Our success comes from great team work and exceptional individual effort, we encourage collaboration and
                creativity.</p>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-12">

            <p>Startup Designs has a culture of continuous improvement and discovery that challenges our people to
                further their professional development that empowers them to learn from one another.</p>

            <p>Our client base is extremely broad, and we celebrate this diversity in our culture and experience.</p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <p>We regonize this as the key to our ability to deliver creative and excellent results.</p>
            <p>Our growth depends on building deep, long-lasting client relationships. We are at our very best when our
                clients work together with us as one united team, working toward the same goal, with results that speak
                for themselves.</p>
        </div>
    </div>

</div>

