<h3>Responsive design as standard</h3>
<p>A responsive website is one that 'responds' to the needs of the user. This means that your website will resize
  and/or re-format its content to suit the user's device, platform or browser. Every website we design and devlop is
  responsive as standard.</p>
<p>We do this by creating multiple layouts of your website, which display depending on the size of the screen being
  used.</p>
<p>Responsive design is always an essential element of each and every build we do, providing a better experience for
  your users and creating less work for you.</p>