// Helpers (contains global mixins, functions, helper selectors, etc.)
@import './scss/helpers/variables.scss';
@import './scss/helpers/mixins.scss';

// Base (contains global styles, such as resets, typography, colors, etc.)
@import './scss/base/reset.scss';
@import './scss/base/typography.scss';
@import './scss/base/colors.scss';

// Components (contains each self-contained component in its own .scss partial)
@import './scss/components/breadcrumbs.scss';

// Layout (contains styling for larger layout components; e.g. nav, header, footer, )
@import './scss/layout/navigation.scss';

// Pages (contains page-specific styling, if necessary)

// Themes (contains styling for different themes)
@import './scss/themes/theme.scss';
@import './scss/themes/admin.scss';

// Vendors (contains 3rd-party styles, mixins, etc.)

#loader {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
}


.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $secondary-color; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}